.maincontainer{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 0 100px 0;
    box-shadow: 0px 5px 24px rgba(128, 128, 128, 0.644);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 180px;
    height: 40px;
}

.productLink{
    text-decoration: none;
    color: #1a73e8;
    font-weight: 700;
    font-size: 1.2rem;
    border-bottom: 3px solid #1a73e8;
    border-radius: 2px;
    transition: all 0.2s ease;
}

.productLink:hover {
    color: #0b499b;
    border-bottom-color: #0b499b;
}

.iconContainer{
    position: relative;
}

.iconContainer img{
    width: 40px;
    color: #1a73e8;
}

.iconContainer span{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0b499b;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    color: white;
    line-height: 18px;
    text-align: center;
    font-weight: bold;
    font-size: 0.75rem;
}

@media(maxwidth: 1200px){
    .container{
        padding: 15px 80px;
    }
}

@media(maxwidth: 768px){
    .container{
        padding: 15px 70px;
    }
}

@media(maxwidth: 555px){
    .container{
        padding: 15px 20px;
    }
}