.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    padding: 0 150px;
    flex-wrap: wrap;
}

@media(maxwidth: 1200px){
    .container{
        padding: 15px 80px;
        margin-top: 110px;
    }
}

@media(maxwidth: 768px){
    .container{
        padding: 15px 40px;
    }
}

@media(maxwidth: 555px){
    .container{
        padding: 15px 10px;

    }
}